.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
  background-color: #f0f0f0;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0) 75%);
  background-color: rgb(0, 0, 0);
  color: #f0f0f0;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 45px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.703);
  color: rgb(253, 143, 28);
  height: 50px;
  margin-top: 10px;
}

.about .prompt {
  width: 50%;
  font-size: 25px;
  margin-top: -25px;
}

.about img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -30px;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.7);
}

.prompt svg {
  font-size: 65px;
  margin: 5px 20px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.prompt svg:hover {
  transform: scale(1.3);
  color: rgb(253, 143, 28);
}

.skills {
  font-size: 35px;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: -150px;
  background-color: rgb(24, 24, 24);
  padding: 50px 0;
}

.skills h1 {
  font-size: 45px;
  text-align: center;
  color: #ffffff;
  width: fit-content;
  margin-top: 60px;
  padding: 15px;
  background-color: rgba(49, 49, 49, 0.5);
  border: 1px solid rgba(108, 108, 108, 0.3);
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.skills .list {
  list-style: none;
  width: 60%;
  padding: 0;
  margin-top: 20px;
}

.skills h2 {
  font-size: 35px;
}

.list span {
  font-size: 20px;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
  opacity: 0;
  transform: translateX(40%);
  transition: opacity 5s ease, transform 6s ease;
}

.item1.show,
.item2.show,
.item3.show,
.item4.show,
.item5.show {
  opacity: 1;
  transform: translateX(0);
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about p {
    margin-top: -10px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .prompt svg {
    margin: 5px 7px;
    transition: all 0.3s ease-in-out;
  }

  .prompt svg:hover {
    transform: scale(1.2);
  }

  .skills {
    text-align: center;
    padding: 20px 0;
  }

  .list {
    padding: 0;
  }

  .skills h1 {
    font-size: 35px;
  }

  .skills h2 {
    font-size: 30px;
  }

  .item1,
  .item2,
  .item3,
  .item4,
  .item5 {
    opacity: 0;
    transform: translateX(-40%);
    transition: opacity 5s ease, transform 6s ease;
  }

  .item1.show,
  .item2.show,
  .item3.show,
  .item4.show,
  .item5.show {
    opacity: 1;
    transform: translateX(0);
  }
}
