.navbar {
  width: 100%;
  height: 100px;
  background: black;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9d35b;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}

.links a {
  background-color: rgba(20, 20, 20, 0.5);
  border: 1px solid rgba(108, 108, 108, 0.3);
  border-radius: 12px;
  padding: 10px 15px;
}

.navbar a:hover {
  color: rgb(253, 143, 28);
  transform: scale(1.0);
  font-size: xx-large;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 50px;
}
.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .navbar a {
    background-color: rgba(20, 20, 20, 0.5);
    border: 1px solid rgba(108, 108, 108, 0.3);
    border-radius: 12px;
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }
  #close a {
    display: none;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.9s ease-in-out;
  }

  .links a {
    margin: 1rem;
    color: rgb(253, 143, 28);
    text-decoration: none;
    background-color: initial;
    border: none;
    border-radius: 0;
    padding: 0;
  }
  .links a:hover {
    margin: 1rem;
    color: white;
    text-decoration: none;
    transform: scale(1.2);
  }

  .links a.active {
    color: #ffffff;
    transform: scale(0.98);
    font-size: xx-large;
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }

}
