.App {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0 auto;
}


body {
  padding: 0;
  margin: 0;
  background-color: rgb(244, 248, 250);
}

@media only screen and (max-width: 940px) {
  .App {
    width: 100%;
  }
}